@use '../Global/' as *;

.l-cta {
    background: radial-gradient(circle, rgba(1,31,97,1) 100%, rgba(1,31,97,1) 70%);
    padding: 88px 0;
    position: relative;
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 150px;

    @include MQ(md) {
        margin-top: 100px;
    }

    &__wrapper {
        max-width: 1558px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        &.c-heading {
            margin-bottom: 0;
            margin-left: -46px;
            margin-top: -106px; 
        }

        .c-heading__en {
            color: #ffffff20;
        }
        .c-heading__title {
            color: var(--white);
            margin-top: -106px;
        }
    }

    &__information--text {
        color: var(--white);
    }

    &__information--link {
        color: var(--white);
        margin-top: 5px;
        font-size: rem(36);
        font-weight: 900;
    }

    &__information--date {
        font-weight: 700;
        margin-top: 10px;
        color: var(--white);
    }
}