@use '../Global/' as *;

.l-cta {
    background: linear-gradient(92.43deg, #011F61 0%, rgba(1, 31, 97, 0.7) 100%);
    padding: 88px 0;
    position: relative;
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 150px;

    @include MQ(md) {
        margin-top: 100px;
        padding: 50px 0;
    }

    &__wrapper {
        max-width: 1558px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include MQ(md) {
            flex-direction: column;
        }
    }

    &__heading {
        &.c-heading {
            margin-bottom: 0;
            margin-left: -46px;
            margin-top: -106px;

            @include MQ(md) {
                margin-left: -100px;
                margin-top: 0;
            }
        }

        .c-heading__en {
            color: #ffffff20;

            @include MQ(xl) {
                font-size: rem(94);
            }
            @include MQ(lg) {
                font-size: rem(64);
            }
        }
        .c-heading__title {
            color: var(--white);
            margin-top: -106px;

            @include MQ(xl) {
                margin-top: -88px;
            }
            @include MQ(lg) {
                font-size: rem(24);
                margin-top: -50px;
            }
        }
    }

    &__information {
        @include MQ(md) {
            margin-top: 50px;
            text-align: center;
        }
    }

    &__information--text {
        color: var(--white);

        @include MQ(lg) {
            font-size: rem(14);
        }
    }

    &__information--link {
        color: var(--white);
        margin-top: 5px;
        font-size: rem(36);
        font-weight: 900;

        @include MQ(lg) {
            font-size: rem(24);
        }

        &:hover {
            color: var(--white);
        }
    }

    &__information--date {
        font-weight: 700;
        margin-top: 10px;
        color: var(--white);

        @include MQ(lg) {
            font-size: rem(12);
        }
    }

    &__button {

        @include MQ(md) {
            margin-top: 40px;
        }
        .c-button__link {
            @include MQ(lg) {
                border-radius: 0;
                font-size: 12px;
            }
        }
    }
}