@use '../Global/' as *;

.l-section-top {
    margin-top: 150px;
    overflow: hidden;

    @include MQ(md) {
        margin-top: 75px;
    }

    &:first-of-type {
        margin-top: 0;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}

.l-section {
    margin-top: 150px;

    @include MQ(md) {
        margin-top: 75px;
    }
}

.l-section-sm {
    margin-top: 125px;

    @include MQ(md) {
        margin-top: 75px;
    }
}