@use "../Global/" as *;

.p-contact {
    margin-top: 75px;

    @include MQ(md) {
        margin-top: 50px;
    }
}

.p-contact__title {
    font-family: $font-family-serif;
    font-size: rem(32);
    font-weight: 600;
    text-align: center;

    @include MQ(md) {
        font-size: rem(24);
    }
}

.p-contact__lead {
    margin-top: 75px;
    font-size: rem(16);
    text-align: center;

    @include MQ(md) {
        margin-top: 50px;
        font-size: rem(12);
    }
}

.p-contact-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    max-width: 668px;
    margin-top: 20px;
    margin-inline: auto;
    border: 1px solid var(--blue);
    border-radius: 20px;
    padding: 30px 16px;

    @include MQ(md) {
        row-gap: 0;
        width: calc(100% - 40px);
        margin-top: 10px;
        padding: 20px 16px;
    }
}

.p-contact-tel__text {
    font-size: rem(18);
    font-weight: 700;
    line-height: 1.5;
    text-align: center;

    @include MQ(md) {
        font-size: rem(14);
        line-height: 1.8;
    }

    > br {
        display: none;

        @include MQ(md) {
            display: block;
        }
    }
}

.p-contact-tel__number {
    font-size: rem(32);
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: var(--blue);

    @include MQ(md) {
        font-size: rem(24);
        line-height: 1.6667;
    }
}

.p-contact-tel__time {
    font-size: rem(16);
    line-height: 1.5;
    text-align: center;

    @include MQ(md) {
        font-size: rem(12);
        line-height: 1.415;
    }
}

.p-contact-form {
    margin-top: 75px;

    @include MQ(md) {
        margin-top: 50px;
    }
}

.p-contact-form__item {
    width: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    column-gap: 100px;
    padding: 30px 35px;
    border-bottom: 1px solid var(--gray);

    @include MQ(lg) {
        grid-template-columns: 204px 1fr;
        column-gap: 48px;
        padding: 30px 20px;
    }

    @include MQ(md) {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 10px;
        padding: 20px;
    }

    &:first-of-type {
        border-top: 1px solid var(--gray);
    }
}

.p-contact-form__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem(16);

    @include MQ(md) {
        font-size: rem(12);
        justify-content: flex-start;
        column-gap: 20px;
    }
}

.p-contact-form__required {
    width: 65px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(14);
    font-weight: 700;
    color: var(--white);
    background-color: var(--dark-orange);
    border-radius: 10px;

    @include MQ(md) {
        width: 40px;
        height: 24px;
        font-size: rem(10);
        border-radius: 5px;
    }
}

.p-contact-form__rows {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;

    @include MQ(md) {
        column-gap: 10px;
        row-gap: 10px;
    }
}

.p-contact-form__radio {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: rem(14);
    font-weight: 700;

    @include MQ(md) {
        column-gap: 6px;
        font-size: rem(14);
    }
}

input[type=radio].p-contact-form__radio-input {
    width: 20px;
    height: 20px;

    @include MQ(md) {
        width: 16px;
        height: 16px;
    }
}

.p-contact-form__input {
    padding: 15px;
    border: 1px solid rgba(24, 27, 57, 0.7);

    @include MQ(md) {
        padding: 8px;
    }
}

.p-contact-form__textarea {
    min-height: 170px;
    padding: 15px;
    border: 1px solid rgba(24, 27, 57, 0.7);

    @include MQ(md) {
        min-height: 80px;
        padding: 8px;
    }
}

.p-contact-privacy {
    max-width: 900px;
    margin-top: 75px;
    margin-inline: auto;

    @include MQ(md) {
        margin-top: 50px;
    }
}

.p-contact-privacy__box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid var(--black);
    padding: 30px 50px;

    @include MQ(md) {
        padding: 20px;
    }
}

.p-contact-privacy__lead {
    font-size: rem(18);
    font-weight: 700;
    line-height: 2.2223;
    text-align: center;
    margin-bottom: 30px;

    @include MQ(md) {
        font-size: rem(14);
        line-height: 1.8;
        margin-bottom: 20px;
    }
}

.p-contact-privacy__text {
    font-size: rem(14);
    line-height: 2.1425;

    @include MQ(md) {
        font-size: rem(10);
        line-height: 1.8;
    }

    + * {
        margin-top: 10px;
    }
}

.p-contact-privacy__title {
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.875;

    @include MQ(md) {
        font-size: rem(12);
        line-height: 1.8;
    }
}

.p-contact-privacy__label {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: rem(16);
    line-height: 2.5;

    @include MQ(md) {
        margin-top: 20px;
        column-gap: 4px;
        font-size: rem(12);
        line-height: 1.8;
    }
}

.p-contact-privacy__checkbox {

}

.p-contact-form__button {
    margin-top: 50px;

    @include MQ(md) {
        margin-top: 25px;
    }
}

