@use "../Global/" as *;

.p-company {
    margin-top: 75px;
    margin-bottom: 100px;

    @include MQ(md) {
        margin-top: 50px;
        margin-bottom: 25px;
    }
}

.p-company-profile {

}

.p-company-profile__title {
    font-family: $font-family-serif;
    font-size: rem(32);
    font-weight: 600;
    text-align: center;

    @include MQ(md) {
        font-size: rem(24);
    }
}

.p-company-profile__list {
    margin-top: 75px;

    @include MQ(md) {
        margin-top: 50px;
    }
}

.p-company-profile__item {
    display: grid;
    grid-template-columns: 240px 1fr;
    column-gap: 40px;
    padding: 30px 35px;
    border-bottom: 1px solid var(--gray);

    @include MQ(lg) {
        grid-template-columns: 104px 1fr;
        padding: 30px 20px;
    }

    @include MQ(md) {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 5px;
        padding: 15px;
    }

    &:first-of-type {
        border-top: 1px solid var(--gray);
    }
}

.p-company-profile__heading {
    font-size: rem(16);
    font-weight: 700;

    @include MQ(md) {
        font-size: rem(12);
        line-height: 1.8;
    }
}

.p-company-profile__text {
    font-size: rem(16);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;

    @include MQ(md) {
        font-size: rem(12);
        line-height: 1.8;
    }

    > a {
        &:hover {
            color: inherit;
        }
    }
}

.p-company-profile__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.p-company-profile__body-wrapper {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 4px;

    @include MQ(md) {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}

.p-company-profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;

    @include MQ(md) {
        flex-direction: column;
    }
}

.p-company-profile__contact {
    display: flex;
    column-gap: 24px;

    @include MQ(md) {
        flex-direction: column;
    }
}

.p-company-history {
    margin-top: 274px;

    @include MQ(lg) {
        margin-top: 200px;
    }

    @include MQ(md) {
        margin-top: 136px;
    }
}

.p-company-history__heading {
    position: relative;
}

.p-company-history__title {
    font-family: $font-family-serif;
    font-size: rem(32);
    font-weight: 600;
    padding-left: 95px;

    @include MQ(md) {
        font-size: rem(24);
    }
}

.p-company-history__label {
    font-family: $font-family-sorts;
    font-size: rem(128);
    letter-spacing: 0;
    line-height: 1.5;
    color: rgba(1, 31, 97, 0.1);
    position: absolute;
    bottom: -24px;
    left: -180px;

    @media screen and (max-width: 1572px) {
        left: -20px;
    }

    @include MQ(md) {
        font-size: rem(64);
        bottom: 3px;
        left: -20px;
    }
}

.p-company-history__list {
    margin-top: 64px;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    border-left: 1px solid var(--black);

    @include MQ(md) {
        margin-top: 50px;
        padding-block: 36.5px 14px;
        row-gap: 50px;
    }
}

.p-company-history__item {
    display: flex;
    column-gap: 75px;
    padding-left: 75px;

    @include MQ(lg) {
        flex-direction: column;
        row-gap: 25px;
        padding-left: 75px;
    }

    @include MQ(md) {
        padding-left: 38px;
    }
}

.p-company-history__item--orange {
    .p-company-history__year {
        color: var(--dark-orange);

        &::before {
            background-color: var(--dark-orange);
            border: 1px solid var(--black);
        }
    }

    .p-company-history__main {
        color: var(--dark-orange);
    }
}

.p-company-history__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.p-company-history__lead {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 40px;
    row-gap: 15px;

    @include MQ(md) {
        flex-direction: column;
    }
}

.p-company-history__year {
    font-family: $font-family-serif;
    font-size: rem(64);
    letter-spacing: 0;
    line-height: 1.5;
    position: relative;

    @include MQ(md) {
        font-size: rem(28);
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -84.5px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: var(--black);
        border-radius: 50%;
        z-index: 1;

        @include MQ(md) {
            width: 15px;
            height: 15px;
            left: -45px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -75px;
        transform: translateY(-50%);
        width: 50px;
        height: 1px;
        background-color: var(--black);

        @include MQ(md) {
            width: 22.5px;
            left: -38px;
        }
    }
}

.p-company-history__main {
    font-size: rem(32);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.5;

    @include MQ(md) {
        font-size: rem(24);
    }
}

.p-company-history__text {
    font-size: rem(16);
    letter-spacing: 0;
    line-height: 1.5;

    @include MQ(md) {
        font-size: rem(12);
        line-height: 1.8;
    }
}

.p-company-history__image {
    flex-shrink: 0;
    max-width: 350px;
    margin-top: 20px;

    @include MQ(md) {
        margin-top: 0;
    }
}

