@use "../Global/" as *;

.p-top {
    &__mv {
        background: url(../images/top_mv.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        max-height: 1080px;

        @include MQ(md) {
            background: url(../images/top_mv.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            max-height: 844px;
        }
    }

    &__mv--wrapper {
        position: relative;
        height: 100%;
    }

    &__mv--heading {
        max-width: 712px;
        position: absolute;
        bottom: 150px;
        left: 30px;

        @include MQ(md) {
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
            width: 100%;
            padding: 0 27px;
        }
        img {
            max-width: 456px;

            @include MQ(md) {
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__mv--text {
        font-family: $font-family-serif;
        font-size: rem(36);
        font-weight: 700;
        color: var(--white);
        margin-top: 20px;

        @include MQ(md) {
            font-size: rem(24);
            text-align: center;
        }
    }

    &__concept--media {
        display: flex;
        justify-content: space-between;

        @include MQ(md) {
            flex-direction: column;
            padding: 0;
        }
    }

    &__concept--body {
        margin-right: 43px;

        @include MQ(md) {
            margin-right: 0;
        }
    }

    &__concept--images {
        max-width: 488px;
        width: 50%;
        margin-top: -46px;
        height: 100%;

        @include MQ(md) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__concept--title {
        @include MQ(md) {
            text-align: center;
            font-size: (16);
        }
    }

    &__concept--text {
        margin-top: 40px;

        @include MQ(md) {
            margin-top: 30px;
            font-size: (12);
        }
    }

    &__button--concept {
        margin-top: 40px;

        @include MQ(md) {
            margin-top: 30px;
        }
    }

    &__service--list {
        display: flex;
        justify-content: space-between;

        @include MQ(md) {
            flex-direction: column;
        }
    }

    &__service--item {
        width: calc(100%/3);
        background: url(../images/top_service01.jpg) no-repeat;
        background-size: cover;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 28px 32px;
        position: relative;

        @include MQ(md) {
            min-height: 150px;
            width: 100%;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 260px solid transparent;
            border-bottom: 0 solid transparent;
            border-right: 400px solid rgba(1,31,97,0.7);
            border-left: 0;
            position: absolute;
            bottom: 0;
            right: 0;

            @include MQ(xxxl) {
                border-top: 260px solid transparent;
                border-right: 23vw solid rgba(1,31,97,0.7);
            }
            @include MQ(md) {
                border-top: 114px solid transparent;
                border-right: 47vw solid rgba(1,31,97,0.7);
            }
        }
    }

    &__service--item01 {
        background: url(../images/top_service01.jpg) no-repeat;
        background-size: cover;
    }

    &__service--item02 {
        background: url(../images/top_service02.jpg) no-repeat;
        background-size: cover;
    }

    &__service--item03 {
        background: url(../images/top_service03.jpg) no-repeat;
        background-size: cover;
    }

    &__service--title {
        color: var(--white);
        font-size: rem(24);
        font-family: $font-family-serif;
        font-weight: 700;
        z-index: 1;

        @include MQ(xxl) {
            font-size: rem(14);
        }
    }

    &__service--en {
        font-size: rem(64);
        font-weight: 400;
        font-family: $font-family-sorts;
        color: var(--white);
        z-index: 1;

        @include MQ(xxl) {
            font-size: rem(28);
        }
    }

    &__service--link {
        color: var(--white);
        font-size: rem(24);
        font-family: $font-family-serif;
        font-weight: 700;
        z-index: 1;
        padding-right: 2em;
        position: relative;

        @include MQ(xxl) {
            font-size: rem(14);
        }

        &::before {
            content: '';
            display: inline-block;
            color: var(--white);
            width: 1em;
            height: 1px;
            background: var(--white);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            content: '';
            display: inline-block;
            width: .5em;
            height: .5em;
            border: 1px solid var(--white);
            border-left: 0;
            border-bottom: 0;
            transform: rotate(45deg);
            transform-origin: top right;
            position: absolute;
            top: 50%;
            right: 0;
        }

        &:hover {
            transition: all 0.5s;
        }

        &:hover::before {
            width: 2em;
            transition: all 0.5s;
            right: -1em;
        }

        &:hover::after {
            transition: all 0.5s;
            right: -1em;
        }
    }

    &__attempt {
        margin-bottom: 250px;

        @include MQ(lg) {
            margin-bottom: 150px;
        }
    }

    &__attempt--media {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 200px;

        @include MQ(lg) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 75px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__attempt--images {
        width: 55%;
        max-width: 800px;
        position: relative;

        @include MQ(lg) {
            width: 100%;
            max-width: none;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 72vw;
            height: 100%;
            background-color: rgba(1, 31, 97, 0.25);
            border-radius: 0 20px 20px 0;
            position: absolute;
            left: 0;
            bottom: -125px;
            z-index: -1;
            margin-left: calc(50% - 50vw);
            max-width: 1470px;

            @include MQ(lg) {
                bottom: auto;
                top: 50px;
                left: -26px;
            }
            @include MQ(md) {
                bottom: auto;
                border-radius: 0;
            }
        }

        img {
            height: 500px;
            object-fit: cover;
            object-position: left;
            border-radius: 20px;

            @include MQ(lg) {
                height: auto;
            }
            @include MQ(md) {
                border-radius: 0;
            }
        }
    }

    &__attempt--body {
        width: 45%;
        margin-left: 123px;

        @include MQ(xxxl) {
            margin-left: 3vw;
        }
        @include MQ(lg) {
            width: 100%;
            margin-left: 0;
            margin-top: 134px;
        }
    }

    &__attempt--title {
        font-size: rem(24);
        padding-left: 88px;
        font-weight: 700;
        font-family: $font-family-serif;
        position: relative;

        @include MQ(md) {
            font-size: (24);
        }

        &::before {
            content: '01';
            display: inline-block;
            font-size: rem(72);
            font-weight: 400;
            font-family: $font-family-serif;
            color: rgba(1,31,97,0.1);
            position: absolute;
            left: 0;
            top: -76px;

            @include MQ(md) {
                font-size: (48);
            }
        }

        &::after {
            content: "";
            display: inline-block;
            background-color: rgba(1, 31, 97, 0.1);
            width: 1px;
            height: 70px;
            transform: rotate(32deg);
            position: absolute;
            left: 73px;
            top: -31px;
        }
    }

    &__attempt--text {
        margin-top: 60px;
        font-size: rem(16);

        @include MQ(md) {
            margin-top: 25px;
            font-size: rem(12);
        }
    }

    &__attempt--button {
        margin-top: 35px;

        @include MQ(md) {
            margin-top: 20px;
        }
    }

    &__attempt--media02 {
        flex-direction: row-reverse;

        @include MQ(lg) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .p-top__attempt--body {
            margin-left: 0;
            margin-right: 123px;
    
            @include MQ(xxxl) {
                margin-left: 0;
                margin-right: 3vw;
            }
            @include MQ(lg) {
                margin-right: 0;
            }
        }

        .p-top__attempt--images {
            &::before {
                background-color:rgba(1,31,97,0.50);
                border-radius: 20px 0 0 20px;
                position: absolute;
                left: auto;
                right: 0;
                bottom: -125px;
                margin-right: calc(50% - 50vw);
                margin-left: auto;
                max-width: 1470px;

                @include MQ(lg) {
                    bottom: auto;
                    top: 50px;
                    right: -26px;
                }
            }
        }

        .p-top__attempt--title {
            &::before {
                content: '02';
            }
        }
    }

    &__attempt--media03 {
        .p-top__attempt--images {
            &::before {
                background-color:rgba(1,31,97,0.75);
            }
        }

        .p-top__attempt--title {
            &::before {
                content: '03';
            }
        }
    }

    &__company--wrapper {
        background-color: rgba(1,31,97,0.1);
        padding: 80px 100px;
        border-radius: 200px 0 0 0;
        margin-right: calc(50% - 50vw);

        @include MQ(xxxl) {
            padding: 2vw 3vw;
        }
        @include MQ(lg) {
            padding: 78px 46px;
        }
    }

    &__company--col3 {
        display: flex;
        margin-left: -100px;

        @include MQ(xxxl) {
            margin-left: -2vw;
        }
        @include MQ(lg) {
            flex-direction: column;
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__company--card {
        padding-left: 100px;
        width: calc(100%/3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include MQ(xxxl) {
            padding-left: 2vw;
        }
        @include MQ(lg) {
            padding-left: 0;
            margin-bottom: 50px;
            width: 100%;
        }

        &:last-child {
            @include MQ(lg) {
                margin-bottom: 0;
            }
        }
    }

    &__company--title {
        margin-top: 35px;
        font-size: rem(24);
        font-weight: 700;
    }

    &__company--text {
        margin-top: 35px;
    }

    &__company--button {
        margin-top: 35px;
    }
}