:root {
  --white: #ffffff;
  --black: #333333;
  --black-dark: #000000;
  --black-dark2: #2d2d2d;
  --blue: #1365e0;
  --blue-dark: #0040a0;
  --blue-light: #e6f0ff;
  --blue-light2: #f3f8ff;
  --yellow: #f4b103;
}
