// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;900&display=swap");

$font-family: "Noto Sans JP", serif;

// regular
@font-face {
    src: url("../../assets/fonts/NotoSansJP-Regular.woff2") format("woff2");
    font-family: "Noto Sans JP";
    font-weight: 500;
    font-display: swap;
}

// bold
@font-face {
    src: url("../../assets/fonts/NotoSansJP-Bold.woff2") format("woff2");
    font-family: "Noto Sans JP";
    font-weight: bold;
    font-display: swap;
}

// black
@font-face {
    src: url("../../assets/fonts/NotoSansJP-Black.woff2") format("woff2");
    font-family: "Noto Sans JP";
    font-weight: 900;
    font-display: swap;
}

$font-family-workSans: 'Work Sans', sans-serif;

// black
@font-face {
    src: url("../../assets/fonts/WorkSans-Black.woff") format("woff");
    font-family: "Work Sans";
    font-weight: 900;
    font-display: swap;
}